.navbar-top-bg{
  background-color:rgb(30, 11, 121) !important;
}

.navbar-bg{
  background-color:rgb(32, 8, 142);
}

.card-img-top{
  transition:.5s;
}
.card-img-top:hover{
  transform:scale(1.1);
  border: 1px solid gray;
  border-radius:10px;
}

.btn{
  transition:2s;
}
.btn:hover{
  transform: scale(1.1) ;
}

.list-group-item{
  transition:.5s;
}

.list-group-item:hover{
  transform: scale(1.1) ;
  
}
